<h1>Tricks</h1>

<table data-cy="trick-list_table">
  <tr>
    <th>name</th>
    <th>inventor</th>
    <th>type</th>
    <th>description</th>
    <th>synonyms</th>
  </tr>
  <tr *ngFor="let trick of tricks">
    <td><a data-cy="trick-list_trick_link" [href]="trick.link">{{ trick.name }}</a></td>
    <td>{{ trick.inventor }}</td>
    <td>{{ trick.type }}</td>
    <td>{{ trick.description }}</td>
    <td>{{ trick.synonyms }}</td>
  </tr>
</table>

<button data-cy="trick-list_explanation_button" (click)="showExplanation()">Show explanation</button>
